.slider-button {
  display: none;
}
.slider-container:hover > .slider-button {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 40%;
  /* transition: all 0.3s ease-in; */
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
