.booking_container {
  box-shadow: 0 2px 26px 0 rgba(125, 125, 125, 0.1);
}

.modal {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  z-index: 1;
  right: -78px;
  top: 35px;
  width: 354px;
  height: fit-content;
  /* overflow: auto; */
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.modalContent {
  background-color: #fefefe;
  margin: 0 auto;
  /* padding: 20px; */
  /* border: 1px solid #888; */
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  width: 100%;
}

.close {
  color: #757575;
  float: right;
  font-size: 24px;
  font-weight: normal;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #757575;
  text-decoration: none;
}
